@page
@model CreditApplication.Pages.Accounts.DetailsModel

@{
    ViewData["Title"] = "Детайли за потребител";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h2 class="mb-0">Детайли за потребител</h2>
                </div>
                <div class="card-body">
                    <dl class="row g-3 mb-0">
                        <dt class="col-md-4">Потребителско име</dt>
                        <dd class="col-md-8">@Model.Account.Username</dd>

                        @if (Model.Account.Role == CreditApplication.Data.AccountRole.Client)
                        {
                            <dt class="col-md-4">ЕГН на клиент</dt>
                            <dd class="col-md-8">@Model.Account.Client?.EGN</dd>
                        }
                        <dt class="col-md-4">Роля в системата</dt>
                        <dd class="col-md-8">
                            @{
                                var roleName = Model.Account.Role switch
                                {
                                    CreditApplication.Data.AccountRole.Client => "Клиент",
                                    CreditApplication.Data.AccountRole.Employee => "Служител",
                                    CreditApplication.Data.AccountRole.Admin => "Администратор",
                                    _ => Model.Account.Role.ToString()
                                };
                            }
                            @roleName
                        </dd>

                        <dt class="col-md-4">Създаден на</dt>
                        <dd class="col-md-8">@Model.Account.CreatedAt.ToString("dd.MM.yyyy HH:mm:ss")</dd>

                        <dt class="col-md-4">Последна промяна</dt>
                        <dd class="col-md-8">@Model.Account.ModifiedOn21180011?.ToString("dd.MM.yyyy HH:mm:ss")</dd>

                        <dt class="col-md-4">Статус на акаунта</dt>
                        <dd class="col-md-8">@(Model.Account.IsActive ? "Активен" : "Неактивен")</dd>


                    </dl>

                    <div class="form-group col-12 text-center mt-4">
                        <a asp-page="./Edit" asp-route-id="@Model.Account.ID" class="btn btn-warning px-4 me-2">Редактирай</a>
                        <a asp-page="./Index" class="btn btn-dark px-4">Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
