@page
@model CreditApplication.Pages.Accounts.ProfileModel
@{
    ViewData["Title"] = "Профил";
}


@if (Model.Client != null)
{
    <div class="card mb-4">
        <div class="card-header">
            <h5>
                <strong>Лични данни</strong>
                <a asp-page="/Clients/Edit" asp-route-id="@Model.Client.ID" class="btn btn-sm btn-warning ms-2 float-end">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                    </svg>
                    Редактирай
                </a>
            </h5>
        </div>

        <div class="card-body">
            <p class="mb-2"><strong>Име:</strong> @Model.Client.FirstName @Model.Client.LastName</p>
            <p class="mb-2"><strong>ЕГН:</strong> @Model.Client.EGN</p>
            <p class="mb-2"><strong>Телефон:</strong> @Model.Client.PhoneNumber</p>
            <p class="mb-2"><strong>№ на лична карта:</strong> @Model.Client.IDCardNumber</p>
            <p class="mb-2"><strong>Дата на издаване:</strong> @Model.Client.IDIssueDate.ToString("dd.MM.yyyy")</p>
            <p class="mb-2"><strong>Дата на валидност:</strong> @Model.Client.IDValidityDate.ToString("dd.MM.yyyy")</p>
            <p class="mb-2"><strong>Град на издаване:</strong> @Model.Client.IDIssuer</p>
        </div>
    </div>
}
else
{
    <div class="alert alert-primary">
        Все още няма въведени лични данни.
    </div>
}


@if (Model.Address != null)
{
    <div class="card mb-4">
        <div class="card-header">
            <h5><strong>Адрес</strong>
            <a asp-page="/ClientAddresses/Edit" asp-route-id="@Model.Address.ID" class="btn btn-sm btn-warning ms-2 float-end">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                </svg>
                Редактирай
            </a>
            </h5>
        </div>

        <div class="card-body">
            <p class="mb-2">@Model.Address.City, @Model.Address.StreetNeighbourhood @Model.Address.Number, @Model.Address.PostCode</p>
        </div>
    </div>
 }
else
{
    <div class="alert alert-primary">
        Все още няма въведени данни за адрес.
    </div>
}


@if (Model.Financials != null)
{
    <div class="card mb-4">
        <div class="card-header">
            <h5>
            <strong>Финансови данни</strong>
            <a asp-page="/ClientFinancials/Edit" asp-route-id="@Model.Financials.ID" class="btn btn-sm btn-warning ms-2 float-end">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                </svg>
                Редактирай
            </a>
            </h5>
        </div>
        <div class="card-body">
            <p class="mb-2"><strong>Доход:</strong> @Model.Financials.MontlyIncome лв.</p>
            <p class="mb-2"><strong>Разходи:</strong> @Model.Financials.MontlyExpenses лв.</p>
            <p class="mb-2"><strong>Тип заетост:</strong> @Model.Financials.EmploymentTypeNomenclature.Description</p>
        </div>
    </div>

}
else
{
    <div class="alert alert-primary">
        Все още няма въведени финансови данни.
    </div>
}



<h3>Моите кредити</h3>

<ul class="nav nav-tabs mb-3" id="creditTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pending" type="button" role="tab">Очакващ решение</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="active-tab" data-bs-toggle="tab" data-bs-target="#active" type="button" role="tab">Активен</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="completed-tab" data-bs-toggle="tab" data-bs-target="#completed" type="button" role="tab">Приключен</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="rejected-tab" data-bs-toggle="tab" data-bs-target="#rejected" type="button" role="tab">Отхвърлен</button>
    </li>
</ul>

<div class="tab-content" id="creditTabsContent">
    <div class="tab-pane fade show active" id="pending" role="tabpanel" aria-labelledby="pending-tab">
        <ul class="list-group">
            @foreach (var c in Model.PendingCredits)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        @c.CreditAmount лв.
                        <span class="badge bg-warning ms-2">@c.StatusNavigation.Description</span>
                    </div>
                    Кандидатурата е подадена на @c.CreatedOn?.ToString("dd.MM.yyyy HH:mm")
                </li>
            }
        </ul>
    </div>

    <div class="tab-pane fade" id="active" role="tabpanel" aria-labelledby="active-tab">
        <ul class="list-group">
            @foreach (var c in Model.ActiveCredits)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        @c.CreditAmount лв
                        <span class="badge bg-success ms-2">@c.StatusNavigation.Description</span>

                    </div>
                    <a asp-page="/RepaymentPlans/Index" asp-route-creditId="@c.ID"
                       class="btn btn-sm btn-outline-secondary rounded-pill">
                        Погасителен план
                    </a>
                </li>
            }
        </ul>
    </div>

    <div class="tab-pane fade" id="completed" role="tabpanel" aria-labelledby="completed-tab">
        <ul class="list-group">
            @foreach (var c in Model.CompletedCredits)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        @c.CreditAmount лв.
                        <span class="badge bg-danger ms-2">@c.StatusNavigation.Description</span>
                    </div>
                    <a asp-page="/RepaymentPlans/Index" asp-route-creditId="@c.ID"
                       class="btn btn-sm btn-outline-secondary rounded-pill">
                        Погасителен план
                    </a>
                </li>
            }
        </ul>
    </div>

    <div class="tab-pane fade" id="rejected" role="tabpanel" aria-labelledby="rejected-tab">
        <ul class="list-group">
            @foreach (var c in Model.RejectedCredits)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        @c.CreditAmount лв.
                        <span class="badge bg-dark ms-2">@c.StatusNavigation.Description</span>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>