@page
@model CreditApplication.Pages.ClientAddresses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClientAddress</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientAddress.ClientID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientAddress.ClientID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientAddress.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientAddress.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientAddress.StreetNeighbourhood)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientAddress.StreetNeighbourhood)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientAddress.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientAddress.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientAddress.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientAddress.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientAddress.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientAddress.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientAddress.ModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientAddress.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ClientAddress.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
