@page
@model CreditApplication.Pages.Credits.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Credit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credit.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credit.Client.EGN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credit.CreditAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credit.CreditAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credit.CreditBeginDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credit.CreditBeginDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credit.CreditEndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credit.CreditEndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credit.InterestRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credit.InterestRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credit.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credit.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credit.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credit.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credit.ModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credit.ModifiedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Credit.CreditType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Credit.CreditType)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Credit.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
