@page
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Employee,Admin")]
@model CreditApplication.Pages.Clients.DetailsModel

@{
    ViewData["Title"] = "Детайли за клиент";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h4 class="h4 mb-0">Детайли на клиент</h4>
                </div>
                <div class="card-body">
                    <dl class="row g-3 mb-0">
                        <dt class="col-md-4">Име на клиент</dt>
                        <dd class="col-md-8">@Model.Client.FirstName @Model.Client.MiddleName @Model.Client.LastName</dd>

                        <dt class="col-md-4">ЕГН</dt>
                        <dd class="col-md-8">@Model.Client.EGN</dd>

                        @{
                            var addr = Model.Client.ClientAddresses.FirstOrDefault();
                            
                        }

                        @if (addr != null)
                        {
                            <dt class="col-md-4">Адрес</dt>
                            <dd class="col-md-8">
                                @(Model.Client.ClientAddresses != null
                                        ? $"{addr.City}, {addr.StreetNeighbourhood}, {addr.Number}"
                                        : string.Empty)
                            </dd>
                        }

                        <dt class="col-md-4">Имейл</dt>
                        <dd class="col-md-8">@Model.Client.Email</dd>

                        <dt class="col-md-4">Телефон</dt>
                        <dd class="col-md-8">@Model.Client.PhoneNumber</dd>

                        <dt class="col-md-4">Номер на лична карта</dt>
                        <dd class="col-md-8">@Model.Client.IDCardNumber</dd>

                        <dt class="col-md-4">Дата на издаване</dt>
                        <dd class="col-md-8">@Model.Client.IDIssueDate.ToString("dd.MM.yyyy")</dd>

                        <dt class="col-md-4">Дата на валидност</dt>
                        <dd class="col-md-8">@Model.Client.IDValidityDate.ToString("dd.MM.yyyy")</dd>

                        <dt class="col-md-4">Издадена от</dt>
                        <dd class="col-md-8">@Model.Client.IDIssuer</dd>

                        <dt class="col-md-4">Създаден на</dt>
                        <dd class="col-md-8">@Model.Client.CreatedOn.ToString("dd.MM.yyyy HH:mm:ss")</dd>

                        <dt class="col-md-4">Последна промяна</dt>
                        <dd class="col-md-8">@Model.Client.ModifiedOn.ToString("dd.MM.yyyy HH:mm:ss")</dd>

                    </dl>
                </div>

                <div class="card shadow-sm">
                    <div class="card-header text-center">
                        <h4 class="h4 mb-0">Финансови данни на клиент</h4>
                    </div>
                    <div class="card-body">
                        <dl class="row g-3 mb-0">
                            @{
                                var fin = Model.Client.ClientFinancials.FirstOrDefault();
                                var diff = fin?.MontlyIncome - fin?.MontlyExpenses;
                                
                            }

                        @if (fin != null)
                        {

                            <dt class="col-md-4">Месечен доход</dt>
                            <dd class="col-md-8">@fin.MontlyIncome.ToString("C", CultureInfo.GetCultureInfo("bg-BG"))</dd>

                            <dt class="col-md-4">Месечни разходи</dt>
                            <dd class="col-md-8">@fin.MontlyExpenses.ToString("C", CultureInfo.GetCultureInfo("bg-BG"))</dd>

                            <dt class="col-md-4">Разлика</dt>
                            <dd class="col-md-8">@diff?.ToString("C", CultureInfo.GetCultureInfo("bg-BG"))</dd>

                            <dt class="col-md-4">Вид заетост</dt>
                            <dd class="col-md-8">@(fin.EmploymentTypeNomenclature != null
                                    ? fin.EmploymentTypeNomenclature.Description
                                    : string.Empty)</dd>
                        }
                      
                    </dl>
                </div>
                    <div class="card-footer d-inline-flex justify-content-center">
                    @using Microsoft.AspNetCore.Identity
                    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                    {

                        <div class="dropdown">
                                <a class="btn btn btn-primary-miriam dropdown-toggle me-2" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    Редактирай
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a asp-page="./Edit" asp-route-id="@Model.Client.ID" class="dropdown-item">Лични данни</a></li>
                                    <li><a asp-page="/ClientAddresses/Edit" asp-route-id="@addr?.ID" class="dropdown-item">Адрес</a></li>
                                    <li><a asp-page="/ClientFinancials/Edit" asp-route-id="@fin?.ID" class="dropdown-item">Финансови данни</a></li>
                                </ul>

                        </div>
@*                         <a asp-page="./Edit" asp-route-id="@Model.Client.ID" class="btn btn-sm btn-primary-miriam me-2">
                            Лични данни
                        </a>
                        <a asp-page="/ClientAddress/Edit" asp-route-id="@Model.Client.ID" class="btn btn-sm btn-primary-miriam me-2">
                            
                            Адрес
                        </a>
                        <a asp-page="/ClientFinancials/Edit" asp-route-id="@Model.Client.ID" class="btn btn-sm btn-primary-miriam me-2">
                            
                            Финансови данни
                        </a> *@
                    }
                    <a asp-page="./Index" class="btn btn btn-secondary-miriam me-2">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
