@page
@model CreditApplication.Pages.Clients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th></th> <!-- For buttons -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Client)
        {
            <tr>
                <td>@item.FirstName @item.MiddleName @item.LastName</td>
                <td>@item.PhoneNumber</td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-sm btn-primary">Details</a>
                    <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
