@page
@model CreditApplication.Pages.ClientFinancials.DeleteModel

@using System.Globalization

@{
    ViewData["Title"] = "Изтриване на финансови данни";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h4 class="h4 mb-0">Изтриване на финансови данни</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-danger" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-exclamation-octagon-fill" viewBox="0 0 16 16">
                            <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146
                                     4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394
                                     4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5
                                     0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zM8 4c.535 0 .954.462.9.995l-.35
                                     3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0
                                     1 1 0 2 1 1 0 0 1 0-2" />
                        </svg>
                        Сигурни ли сте, че искате да изтриете тези финансови данни?
                    </div>
                    <dl class="row g-3 mb-0">
                        <dt class="col-md-4">Клиент</dt>
                        <dd class="col-md-8">
                            @Model.ClientFinancial.Client?.EGN
                        </dd>

                        <dt class="col-md-4">Месечни приходи</dt>
                        <dd class="col-md-8">
                            @Model.ClientFinancial.MontlyIncome.ToString("C", CultureInfo.GetCultureInfo("bg-BG"))
                        </dd>

                        <dt class="col-md-4">Месечни разходи</dt>
                        <dd class="col-md-8">
                            @Model.ClientFinancial.MontlyExpenses.ToString("C", CultureInfo.GetCultureInfo("bg-BG"))
                        </dd>

                        <dt class="col-md-4">Тип заетост</dt>
                        <dd class="col-md-8">
                            @Model.ClientFinancial.EmploymentTypeNomenclature?.Description
                        </dd>

                        <dt class="col-md-4">Създадено на</dt>
                        <dd class="col-md-8">
                            @Model.ClientFinancial.CreatedOn.ToString("dd.MM.yyyy HH:mm:ss")
                        </dd>

                        <dt class="col-md-4">Последна промяна</dt>
                        <dd class="col-md-8">
                            @Model.ClientFinancial.ModifiedOn.ToString("dd.MM.yyyy HH:mm:ss")
                        </dd>
                    </dl>
                </div>
                <div class="card-footer text-center">
                    <form method="post" class="d-inline">
                        <input type="hidden" asp-for="ClientFinancial.ID" />
                        <button type="submit" class="btn btn-sm btn-danger me-2">Изтрий</button>
                        <a asp-page="./Index" class="btn btn-sm btn-secondary-miriam ">Назад</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
