@page
@model CreditApplication.Pages.ClientFinancials.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientFinancial[0].ClientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientFinancial[0].MontlyIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientFinancial[0].MontlyExpenses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientFinancial[0].EmploymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientFinancial[0].CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientFinancial[0].ModifiedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ClientFinancial) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontlyIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontlyExpenses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmploymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
